<form class="form" #form="ngForm">
  <!-- <pre>{{ todo | json }}</pre> -->
  <div class="form-group">
    <label for="title">Título</label>
    <input type="text" class="form-control" name="title" [(ngModel)]="todo.title" #title="ngModel" required minlength="5" maxlength="30">
  </div>
  <div *ngIf="title?.touched">
    <div class="alert alert-danger" *ngIf="title?.errors?.required">
      O título é obrigatório!
    </div>
    <div class="alert alert-danger" *ngIf="title?.errors?.minlength || title?.errors?.maxlength">
      O campo título deve conter de 5 a 30 caracteres!
    </div>
  </div>

  <div class="form-group">
    <label for="description">Descrição</label>
    <input type="text" class="form-control" name="description" [(ngModel)]="todo.description" #description="ngModel"
      required>
  </div>
  <div class="alert alert-danger" *ngIf="description?.touched && description?.errors?.required">
    A descrição é obrigatória!
  </div>

  <div class="form-group">
    <label for="date">Data</label>
    <input type="date" class="form-control" name="date" [(ngModel)]="todo.date" #date="ngModel" required>
  </div>
  <div class="alert alert-danger" *ngIf="date?.touched && date?.errors?.required">
    A data é obrigatória!
  </div>

  <div class="form-group">
    <input type="checkbox" name="finished" id="finished" [(ngModel)]="todo.finished">
    <label for="finished">Finalizado</label>
  </div>

  <button class="btn btn-primary" [disabled]="form.invalid" (click)="onSubmit()">
    {{ isAdding ? 'Cadastrar' : 'Salvar' }}
  </button>
</form>